{% extends 'base.html' %}
<!-- Give content to the block title -->
{% block title %}Inventory{% endblock %}

{% block content %}
<!-- New product form -->
<form action="/addproduct" autocomplete="on" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Name" class="form-label">Product name</label>
        <input type="text" class="form-control" id="Name" name="name">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="float" class="form-control" id="Price" name="price">
    </div>

    <div class="mb-3">
        <label for="Stock" class="form-label">Stock</label>
        <input type="integer" class="form-control" id="Stock" name="stock">
    </div>

    <label for="Vendor" class="form-label">Vendor</label>
    <div class="input-group mb-3">
        <select class="form-select" id="vendor" name="vendor">
          <option selected>Choose...</option>
          <option value = {{ value[0][0] }} >{{ value[0][1] }}</option>
          <option value= {{ value[1][0] }}>{{ value[1][1] }}</option>
          <option value="3">Three</option>
        </select>
      </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}